<div class="presentation-details">
<p><strong>ID: </strong><%=@presentation.id%></p>
<p><strong>Title: </strong><%=@presentation.title%></p>
<p><strong>Date: </strong><%=@presentation.date%></p>
<p><strong>Created At: </strong><%=@presentation.created_at%></p>
<p><strong>Updated At: </strong><%=@presentation.updated_at%></p>
</div>
