<div id="<%= dom_id evaluation %>" class="evaluation-details">
  <p>
    <strong>Presentation:</strong>
    <%= evaluation.presentation_id %>
  </p>

  <p>
    <strong>Evaluator:</strong>
    <%= evaluation.user_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= evaluation.score %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= evaluation.comments %>
  </p>

</div>
